[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/Trider12/imgui
	branch = gem
[submodule "3rdparty/IconFontCppHeaders"]
	path = 3rdparty/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "tools/vcpkg"]
	path = tools/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "3rdparty/nativefiledialog-extended"]
	path = 3rdparty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
